$icon-name: (
  star: \e900,
  star-fill: \e901,
  exchange-horizontally: \e902,
  exchange-vertical: \e903,
  new-window: \e904,
  tag: \e905,
  notification: \e906,
  notification-stroke: \e907,
  mail: \e908,
  global: \e909,
  trash: \e90a,
  dm: \e90b,
  currency: \e90c,
  print: \e90d,
  gps: \e90e,
  ellipse: \e90f,
  ellipse-stroke: \e910,
  facebook: \e912,
  naver: \e913,
  insta: \e914,
  tiktok: \e915,
  apple: \e916,
  google: \e917,
  youtube: \e918,
  kakao: \e919,
  x: \e91a,
  arrow-dropdown: \e91c,
  arrow-dropdown-up: \e91d,
  check-small: \e91e,
  check: \e91f,
  show: \e920,
  hidden: \e921,
  fordid: \e922,
  upload-cloud: \e923,
  share: \e924,
  excel: \e925,
  cancel: \e926,
  arrow-left: \e927,
  arrow-right: \e928,
  arrow-up: \e929,
  arrow-down: \e92a,
  download: \e92b,
  upload: \e92c,
  link-alt: \e92d,
  link: \e92e,
  edit: \e92f,
  pin: \e930,
  flag: \e931,
  hand: \e932,
  zoom-in: \e933,
  zoom-out: \e934,
  chart: \e935,
  temperature: \e936,
  turbine: \e937,
  layers: \e938,
  compass: \e939,
  flag-finish: \e93a,
  pressure: \e93b,
  pyramid-chart: \e93c,
  ruler: \e93d,
  contour: \e93e,
  plus: \e93f,
  minus: \e940,
  warning: \e941,
  user-stroke: \e942,
  user: \e943,
  menu: \e944,
  time: \e945,
  search: \e949,
  close: \e94a,
  info: \e94b,
  danger: \e94c,
  danger-fill: \e94d,
  expand-left: \e94e,
  expand-right: \e94f,
  expand-up: \e950,
  expand-down: \e951,
  calendar: \e952,
  paper: \e953,
  import: \e954,
  export: \e955,
  img: \e956,
  favorite: \e957,
  favorite-fill: \e958,
  phone: \e959,
  phone-stroke: \e95a,
  home: \e95b,
  expand-up-double: \e95c,
  expand-down-double: \e95d,
  expand-left-double: \e95e,
  expand-right-double: \e95f,
  setting-stroke: \e960,
  setting: \e961,
  email: \e962,
  more-horizontal: \e963,
  more: \e964,
  help: \e965,
  check-circle-stroke: \e966,
  check-circle-fill: \e967,
  map: \e968,
  refresh: \e969,
  drag: \e96a,
  clip: \e96b,
  file: \e96c,
  card: \e96d,
  car: \e96e,
  handle: \e96f,
  counselor: \e970,
  chart-bar: \e971,
  coin: \e972,
  receipt: \e973,
  briefcase: \e974,
  arrow-dropdown-left: \e975,
  arrow-dropdown-right: \e976,
  lock: \e977,
  unlock: \e978,
);