@use '../layout/spacing' as *;
@use './icon-name' as *;

@font-face {
  font-family: 'pkg-icon';
  src: url('./font/icon.woff') format('woff');
  font-display: swap;
}
:root {
  [class^='icon-'],
  [class*=' icon-'] {
    &:only-child,
    &:not(:last-child) {
      margin-right: s(2);
    }
  }

  [class^='icon-']::before,
  [class*=' icon-']::before {
    font-family: 'pkg-icon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 24px;
    vertical-align: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // margin-top: -0.1rem;
  }

  @each $key, $value in $icon-name {
    .icon-#{$key}::before {
      content: '#{$value}';
    }
  }
}
