.icon-star:before { content: "\e900"; }
.icon-star-fill:before { content: "\e901"; }
.icon-exchange-horizontally:before { content: "\e902"; }
.icon-exchange-vertical:before { content: "\e903"; }
.icon-new-window:before { content: "\e904"; }
.icon-tag:before { content: "\e905"; }
.icon-notification:before { content: "\e906"; }
.icon-notification-stroke:before { content: "\e907"; }
.icon-mail:before { content: "\e908"; }
.icon-global:before { content: "\e909"; }
.icon-trash:before { content: "\e910"; }
.icon-dm:before { content: "\e911"; }
.icon-currency:before { content: "\e912"; }
.icon-print:before { content: "\e913"; }
.icon-gps:before { content: "\e914"; }
.icon-ellipse:before { content: "\e915"; }
.icon-ellipse-stroke:before { content: "\e916"; }
