.icon-star:before { content: "\e900"; }
.icon-star-fill:before { content: "\e901"; }
.icon-exchange-horizontally:before { content: "\e902"; }
.icon-exchange-vertical:before { content: "\e903"; }
.icon-new-window:before { content: "\e904"; }
.icon-tag:before { content: "\e905"; }
.icon-notification:before { content: "\e906"; }
.icon-notification-stroke:before { content: "\e907"; }
.icon-mail:before { content: "\e908"; }
.icon-global:before { content: "\e909"; }
.icon-trash:before { content: "\e90a"; }
.icon-dm:before { content: "\e90b"; }
.icon-currency:before { content: "\e90c"; }
.icon-print:before { content: "\e90d"; }
.icon-gps:before { content: "\e90e"; }
.icon-ellipse:before { content: "\e90f"; }
.icon-ellipse-stroke:before { content: "\e910"; }
.icon-radio-check:before { content: "\e911"; }
.icon-facebook:before { content: "\e912"; }
.icon-naver:before { content: "\e913"; }
.icon-insta:before { content: "\e914"; }
.icon-tiktok:before { content: "\e915"; }
.icon-apple:before { content: "\e916"; }
.icon-google:before { content: "\e917"; }
.icon-youtube:before { content: "\e918"; }
.icon-kakao:before { content: "\e919"; }
.icon-x:before { content: "\e91a"; }
.icon-checkbox:before { content: "\e91b"; }
.icon-arrow-dropdown:before { content: "\e91c"; }
.icon-arrow-dropdown-up:before { content: "\e91d"; }
.icon-check-small:before { content: "\e91e"; }
.icon-check:before { content: "\e91f"; }
.icon-show:before { content: "\e920"; }
.icon-hidden:before { content: "\e921"; }
.icon-fordid:before { content: "\e922"; }
.icon-upload-cloud:before { content: "\e923"; }
.icon-share:before { content: "\e924"; }
.icon-excel:before { content: "\e925"; }
.icon-cancel:before { content: "\e926"; }
.icon-arrow-left:before { content: "\e927"; }
.icon-arrow-right:before { content: "\e928"; }
.icon-arrow-up:before { content: "\e929"; }
.icon-arrow-down:before { content: "\e92a"; }
.icon-download:before { content: "\e92b"; }
.icon-upload:before { content: "\e92c"; }
.icon-link-alt:before { content: "\e92d"; }
.icon-link:before { content: "\e92e"; }
.icon-edit:before { content: "\e92f"; }
.icon-pin:before { content: "\e930"; }
.icon-flag:before { content: "\e931"; }
.icon-hand:before { content: "\e932"; }
.icon-zoom-in:before { content: "\e933"; }
.icon-zoom-out:before { content: "\e934"; }
.icon-chart:before { content: "\e935"; }
.icon-temperature:before { content: "\e936"; }
.icon-turbine:before { content: "\e937"; }
.icon-layers:before { content: "\e938"; }
.icon-compass:before { content: "\e939"; }
.icon-flag-finish:before { content: "\e93a"; }
.icon-pressure:before { content: "\e93b"; }
.icon-pyramid-chart:before { content: "\e93c"; }
.icon-ruler:before { content: "\e93d"; }
.icon-contour:before { content: "\e93e"; }
.icon-plus:before { content: "\e93f"; }
.icon-minus:before { content: "\e940"; }
.icon-warning:before { content: "\e941"; }
.icon-user-stroke:before { content: "\e942"; }
.icon-user:before { content: "\e943"; }
.icon-menu:before { content: "\e944"; }
.icon-time:before { content: "\e945"; }
.icon-checkbox-blank:before { content: "\e946"; }
.icon-radio-blank:before { content: "\e947"; }
.icon-checkbox-multi:before { content: "\e948"; }
.icon-search:before { content: "\e949"; }
.icon-close:before { content: "\e94a"; }
.icon-info:before { content: "\e94b"; }
.icon-danger:before { content: "\e94c"; }
.icon-danger-fill:before { content: "\e94d"; }
.icon-expand-left:before { content: "\e94e"; }
.icon-expand-right:before { content: "\e94f"; }
.icon-expand-up:before { content: "\e950"; }
.icon-expand-down:before { content: "\e951"; }
.icon-calendar:before { content: "\e952"; }
.icon-paper:before { content: "\e953"; }
.icon-import:before { content: "\e954"; }
.icon-export:before { content: "\e955"; }
.icon-img:before { content: "\e956"; }
.icon-favorite:before { content: "\e957"; }
.icon-favorite-fill:before { content: "\e958"; }
.icon-phone:before { content: "\e959"; }
.icon-phone-stroke:before { content: "\e95a"; }
.icon-home:before { content: "\e95b"; }
.icon-expand-up-double:before { content: "\e95c"; }
.icon-expand-down-double:before { content: "\e95d"; }
.icon-expand-left-double:before { content: "\e95e"; }
.icon-expand-right-double:before { content: "\e95f"; }
.icon-setting-stroke:before { content: "\e960"; }
.icon-setting:before { content: "\e961"; }
.icon-email:before { content: "\e962"; }
.icon-more-horizontal:before { content: "\e963"; }
.icon-more:before { content: "\e964"; }
.icon-help:before { content: "\e965"; }
.icon-check-circle-stroke:before { content: "\e966"; }
.icon-check-circle-fill:before { content: "\e967"; }
.icon-map:before { content: "\e968"; }
.icon-refresh:before { content: "\e969"; }
.icon-drag:before { content: "\e96a"; }
.icon-clip:before { content: "\e96b"; }
.icon-file:before { content: "\e96c"; }
.icon-card:before { content: "\e96d"; }
.icon-car:before { content: "\e96e"; }
.icon-handle:before { content: "\e96f"; }
.icon-counselor:before { content: "\e970"; }
.icon-chart-bar:before { content: "\e971"; }
.icon-coin:before { content: "\e972"; }
.icon-receipt:before { content: "\e973"; }
.icon-briefcase:before { content: "\e974"; }
