@use './theme' as *;

body {
  @each $type
    in (primary, default, default-deep, info, link, success, warning, danger)
  {
    .#{$type} {
      color: map-get($color, $type);
      &:hover {
        color: map-get($color, $type + '-hover');
      }
      &:active {
        color: map-get($color, $type + '-pressed');
      }
      &:focus {
        color: map-get($color, $type + '-focus');
      }
      &-spot {
        color: map-get($color, $type + '-spot');
      }
      &-reverse {
        color: map-get($color, $type + '-reverse');
      }
    }
    .bg-#{$type} {
      color: map-get($color, $type + '-reverse');
      background-color: map-get($color, $type);
      &:hover {
        background-color: map-get($color, $type + '-hover');
      }
      &:active {
        background-color: map-get($color, $type + '-pressed');
      }
      &:focus {
        background-color: map-get($color, $type + '-focus');
      }
      &-spot {
        background-color: map-get($color, $type + '-spot');
      }
    }
  }
}
