@use './function' as *;

body {
  @each $type
    in (primary, default, default-deep, info, link, success, warning, danger)
  {
    :not(button):not(input).#{$type} {
      color: color($type);
      &a:hover {
        color: color($type + '-hover');
      }
      &a:active {
        color: color($type + '-pressed');
      }
      &a:focus {
        color: color($type + '-focus');
      }
      &-fill {
        @if ($type == 'default') {
          color: color('default-reverse');
          background-color: color($type + '-fill');
        } @else {
          color: color($type);
          background-color: color($type + '-fill');
        }
      }
      &-reverse {
        color: color($type + '-reverse');
      }
    }
    .#{$type}-bg {
      color: color($type + '-reverse');
      background-color: color($type);
    }
    .#{$type}-border {
      border: 1px solid color($type);
    }
    .#{$type}-border-fill {
      @if ($type == 'default') {
        color: color('default-reverse');
        background-color: color($type + '-fill');
        border: 1px solid color($type);
      } @else {
        color: color($type);
        background-color: color($type + '-fill');
        border: 1px solid color($type);
      }
    }
  }
}
