@use './base-color' as *;
/*
  Light mode colors
*/
$color: (
  // Primary
  primary: map-get($base-color, 'violet-500'),
  primary-hover: map-get($base-color, 'violet-600'),
  primary-pressed: map-get($base-color, 'violet-700'),
  primary-focus: map-get($base-color, 'violet-600'),
  primary-spot: map-get($base-color, 'violet-50'),
  primary-reverse: map-get($base-color, 'mono-white'),
  // Default
  default: map-get($base-color, 'gray-100'),
  default-hover: map-get($base-color, 'gray-150'),
  default-pressed: map-get($base-color, 'gray-250'),
  default-focus: map-get($base-color, 'gray-150'),
  default-spot: map-get($base-color, 'gray-50'),
  default-reverse: map-get($base-color, 'mono-white'),
  // Default deep
  default-deep: map-get($base-color, 'gray-600'),
  default-deep-hover: map-get($base-color, 'gray-700'),
  default-deep-pressed: map-get($base-color, 'gray-800'),
  default-deep-focus: map-get($base-color, 'gray-700'),
  default-deep-spot: map-get($base-color, 'gray-50'),
  default-deep-reverse: map-get($base-color, 'mono-white'),
  // Info
  info: map-get($base-color, 'blue-500'),
  info-hover: map-get($base-color, 'blue-600'),
  info-pressed: map-get($base-color, 'blue-700'),
  info-focus: map-get($base-color, 'blue-600'),
  info-spot: map-get($base-color, 'blue-50'),
  info-reverse: map-get($base-color, 'mono-white'),
  // Link
  link: map-get($base-color, 'sky-500'),
  link-hover: map-get($base-color, 'sky-600'),
  link-pressed: map-get($base-color, 'sky-700'),
  link-focus: map-get($base-color, 'sky-600'),
  link-spot: map-get($base-color, 'sky-50'),
  link-reverse: map-get($base-color, 'mono-white'),
  // Success
  success: map-get($base-color, 'teal-600'),
  success-hover: map-get($base-color, 'teal-700'),
  success-pressed: map-get($base-color, 'teal-800'),
  success-focus: map-get($base-color, 'teal-700'),
  success-spot: map-get($base-color, 'teal-50'),
  success-reverse: map-get($base-color, 'mono-white'),
  // Warning
  warning: map-get($base-color, 'amber-500'),
  warning-hover: map-get($base-color, 'amber-600'),
  warning-pressed: map-get($base-color, 'amber-700'),
  warning-focus: map-get($base-color, 'amber-600'),
  warning-spot: map-get($base-color, 'amber-50'),
  warning-reverse: map-get($base-color, 'mono-white'),
  // Danger
  danger: map-get($base-color, 'red-500'),
  danger-hover: map-get($base-color, 'red-600'),
  danger-pressed: map-get($base-color, 'red-700'),
  danger-focus: map-get($base-color, 'red-600'),
  danger-spot: map-get($base-color, 'red-50'),
  danger-reverse: map-get($base-color, 'mono-white'),
  // Background
  bg-modal: map-get($base-color, 'mono-white'),
  bg-disabled: map-get($base-color, 'gray-200'),
  bg-toggle: map-get($base-color, 'gray-300'),
  bg-reverse-wb: map-get($base-color, 'mono-white'),
  bg-reverse-bw: map-get($base-color, 'mono-black'),
  bg-indicator: map-get($base-color, 'black-alpha-100'),
  bg-block: map-get($base-color, 'mono-white'),
  // Background elevation
  bg-elevation: map-get($base-color, 'gray-50'),
  bg-elevation-2: map-get($base-color, 'mono-white'),
  bg-elevation-3: map-get($base-color, 'mono-white'),
  bg-elevation-4: map-get($base-color, 'mono-white'),
  // Border
  border: map-get($base-color, 'gray-200'),
  border-hover: map-get($base-color, 'gray-300'),
  border-pressed: map-get($base-color, 'gray-400'),
  border-focus: map-get($base-color, 'gray-300'),
  border-disabled: map-get($base-color, 'black-alpha-100'),
  border-alpha: map-get($base-color, 'black-alpha-200'),
  // Text
  text-header: map-get($base-color, 'gray-900'),
  text-body: map-get($base-color, 'gray-800'),
  text-sub: map-get($base-color, 'gray-500'),
  text-action: map-get($base-color, 'gray-500'),
  text-action-hover: map-get($base-color, 'gray-600'),
  text-action-pressed: map-get($base-color, 'gray-700'),
  text-action-focus: map-get($base-color, 'gray-600'),
  text-action-reverse: map-get($base-color, 'mono-white'),
  text-action-disabled: map-get($base-color, 'gray-400')
);

html[data-color-mode='dark'] {
  /*
    Dark mode colors
  */
  $color: (
    // Primary
    primary: map-get($base-color, 'violet-500'),
    primary-hover: map-get($base-color, 'violet-400'),
    primary-pressed: map-get($base-color, 'violet-500'),
    primary-focus: map-get($base-color, 'violet-400'),
    primary-spot: map-get($base-color, 'gray-900'),
    primary-reverse: map-get($base-color, 'mono-white'),
    // Default
    default: map-get($base-color, 'gray-700'),
    default-hover: map-get($base-color, 'gray-600'),
    default-pressed: map-get($base-color, 'gray-700'),
    default-focus: map-get($base-color, 'gray-600'),
    default-spot: map-get($base-color, 'gray-800'),
    default-reverse: map-get($base-color, 'mono-white'),
    // Default deep
    default-deep: map-get($base-color, 'gray-700'),
    default-deep-hover: map-get($base-color, 'gray-600'),
    default-deep-pressed: map-get($base-color, 'gray-700'),
    default-deep-focus: map-get($base-color, 'gray-600'),
    default-deep-spot: map-get($base-color, 'gray-900'),
    default-deep-reverse: map-get($base-color, 'mono-white'),
    // Info
    info: map-get($base-color, 'blue-600'),
    info-hover: map-get($base-color, 'blue-500'),
    info-pressed: map-get($base-color, 'blue-600'),
    info-focus: map-get($base-color, 'blue-500'),
    info-spot: map-get($base-color, 'gray-900'),
    info-reverse: map-get($base-color, 'mono-white'),
    // Link
    link: map-get($base-color, 'sky-600'),
    link-hover: map-get($base-color, 'sky-500'),
    link-pressed: map-get($base-color, 'sky-600'),
    link-focus: map-get($base-color, 'sky-500'),
    link-spot: map-get($base-color, 'gray-900'),
    link-reverse: map-get($base-color, 'mono-white'),
    // Success
    success: map-get($base-color, 'teal-600'),
    success-hover: map-get($base-color, 'teal-500'),
    success-pressed: map-get($base-color, 'teal-600'),
    success-focus: map-get($base-color, 'teal-500'),
    success-spot: map-get($base-color, 'gray-900'),
    success-reverse: map-get($base-color, 'mono-white'),
    // Warning
    warning: map-get($base-color, 'amber-600'),
    warning-hover: map-get($base-color, 'amber-500'),
    warning-pressed: map-get($base-color, 'amber-600'),
    warning-focus: map-get($base-color, 'amber-500'),
    warning-spot: map-get($base-color, 'gray-900'),
    warning-reverse: map-get($base-color, 'mono-white'),
    // Danger
    danger: map-get($base-color, 'red-500'),
    danger-hover: map-get($base-color, 'red-400'),
    danger-pressed: map-get($base-color, 'red-500'),
    danger-focus: map-get($base-color, 'red-400'),
    danger-spot: map-get($base-color, 'gray-900'),
    danger-reverse: map-get($base-color, 'mono-white'),
    // Background
    bg-modal: map-get($base-color, 'gray-800'),
    bg-disabled: map-get($base-color, 'gray-800'),
    bg-toggle: map-get($base-color, 'gray-600'),
    bg-reverse-wb: map-get($base-color, 'mono-black'),
    bg-reverse-bw: map-get($base-color, 'mono-white'),
    bg-indicator: map-get($base-color, 'white-alpha-400'),
    bg-block: map-get($base-color, 'black-alpha-100'),
    // Background elevation
    bg-elevation: map-get($base-color, 'gray-950'),
    bg-elevation-2: map-get($base-color, 'gray-940'),
    bg-elevation-3: map-get($base-color, 'gray-750'),
    bg-elevation-4: map-get($base-color, 'gray-650'),
    // Border
    border: map-get($base-color, 'gray-600'),
    border-hover: map-get($base-color, 'gray-500'),
    border-pressed: map-get($base-color, 'gray-600'),
    border-focus: map-get($base-color, 'gray-500'),
    border-disabled: map-get($base-color, 'white-alpha-100'),
    border-alpha: map-get($base-color, 'white-alpha-200'),
    // Text
    text-header: map-get($base-color, 'gray-100'),
    text-body: map-get($base-color, 'gray-200'),
    text-sub: map-get($base-color, 'gray-400'),
    text-disabled: map-get($base-color, 'gray-600'),
    text: map-get($base-color, 'gray-300'),
    text-hover: map-get($base-color, 'gray-100'),
    text-pressed: map-get($base-color, 'gray-300'),
    text-focus: map-get($base-color, 'gray-100'),
    text-reverse: map-get($base-color, 'mono-white')
  );
}

@function color($key) {
  @return map-get($color, $key);
}
