/*
  Light mode colors
*/
:root {
  --color-primary: var(--base-color-violet-500);
  --color-primary-hover: var(--base-color-violet-600);
  --color-primary-pressed: var(--base-color-violet-700);
  --color-primary-focus: var(--base-color-violet-600);
  --color-primary-fill: var(--base-color-violet-50);
  --color-primary-reverse: var(--base-color-mono-white);
  --color-default: var(--base-color-gray-100);
  --color-default-hover: var(--base-color-gray-150);
  --color-default-pressed: var(--base-color-gray-250);
  --color-default-focus: var(--base-color-gray-150);
  --color-default-fill: var(--base-color-gray-50);
  --color-default-reverse: var(--base-color-gray-800);
  --color-default-deep: var(--base-color-gray-600);
  --color-default-deep-hover: var(--base-color-gray-700);
  --color-default-deep-pressed: var(--base-color-gray-800);
  --color-default-deep-focus: var(--base-color-gray-700);
  --color-default-deep-fill: var(--base-color-gray-50);
  --color-default-deep-reverse: var(--base-color-mono-white);
  --color-info: var(--base-color-blue-500);
  --color-info-hover: var(--base-color-blue-600);
  --color-info-pressed: var(--base-color-blue-700);
  --color-info-focus: var(--base-color-blue-600);
  --color-info-fill: var(--base-color-blue-50);
  --color-info-reverse: var(--base-color-mono-white);
  --color-link: var(--base-color-sky-500);
  --color-link-hover: var(--base-color-sky-600);
  --color-link-pressed: var(--base-color-sky-700);
  --color-link-focus: var(--base-color-sky-600);
  --color-link-fill: var(--base-color-sky-50);
  --color-link-reverse: var(--base-color-mono-white);
  --color-success: var(--base-color-teal-600);
  --color-success-hover: var(--base-color-teal-700);
  --color-success-pressed: var(--base-color-teal-800);
  --color-success-focus: var(--base-color-teal-700);
  --color-success-fill: var(--base-color-teal-50);
  --color-success-reverse: var(--base-color-mono-white);
  --color-warning: var(--base-color-amber-500);
  --color-warning-hover: var(--base-color-amber-600);
  --color-warning-pressed: var(--base-color-amber-700);
  --color-warning-focus: var(--base-color-amber-600);
  --color-warning-fill: var(--base-color-amber-50);
  --color-warning-reverse: var(--base-color-mono-white);
  --color-danger: var(--base-color-red-500);
  --color-danger-hover: var(--base-color-red-600);
  --color-danger-pressed: var(--base-color-red-700);
  --color-danger-focus: var(--base-color-red-600);
  --color-danger-fill: var(--base-color-red-50);
  --color-danger-reverse: var(--base-color-mono-white);
  --color-bg-modal: var(--base-color-mono-white);
  --color-bg-disabled: var(--base-color-gray-200);
  --color-bg-toggle: var(--base-color-gray-300);
  --color-bg-reverse-wb: var(--base-color-mono-white);
  --color-bg-reverse-bw: var(--base-color-mono-black);
  --color-bg-indicator: var(--base-color-black-alpha-100);
  --color-bg-block: var(--base-color-mono-white);
  --color-bg-elevation: var(--base-color-gray-50);
  --color-bg-elevation-2: var(--base-color-mono-white);
  --color-bg-elevation-3: var(--base-color-mono-white);
  --color-bg-elevation-4: var(--base-color-mono-white);
  --color-border: var(--base-color-gray-200);
  --color-border-hover: var(--base-color-gray-300);
  --color-border-pressed: var(--base-color-gray-400);
  --color-border-focus: var(--base-color-gray-300);
  --color-border-disabled: var(--base-color-black-alpha-100);
  --color-border-alpha: var(--base-color-black-alpha-200);
  --color-text-header: var(--base-color-gray-900);
  --color-text-body: var(--base-color-gray-800);
  --color-text-sub: var(--base-color-gray-500);
  --color-text-action: var(--base-color-gray-500);
  --color-text-action-hover: var(--base-color-gray-600);
  --color-text-action-pressed: var(--base-color-gray-700);
  --color-text-action-focus: var(--base-color-gray-600);
  --color-text-action-reverse: var(--base-color-mono-white);
  --color-text-action-disabled: var(--base-color-gray-400);
}

html[data-color-mode='dark'] {
  /*
    Dark mode colors
  */
  --color-primary: var(--base-color-violet-500);
  --color-primary-hover: var(--base-color-violet-400);
  --color-primary-pressed: var(--base-color-violet-500);
  --color-primary-focus: var(--base-color-violet-400);
  --color-primary-fill: var(--base-color-gray-900);
  --color-primary-reverse: var(--base-color-mono-white);
  --color-default: var(--base-color-gray-700);
  --color-default-hover: var(--base-color-gray-600);
  --color-default-pressed: var(--base-color-gray-700);
  --color-default-focus: var(--base-color-gray-600);
  --color-default-fill: var(--base-color-gray-800);
  --color-default-reverse: var(--base-color-mono-white);
  --color-default-deep: var(--base-color-gray-700);
  --color-default-deep-hover: var(--base-color-gray-600);
  --color-default-deep-pressed: var(--base-color-gray-700);
  --color-default-deep-focus: var(--base-color-gray-600);
  --color-default-deep-fill: var(--base-color-gray-900);
  --color-default-deep-reverse: var(--base-color-mono-white);
  --color-info: var(--base-color-blue-600);
  --color-info-hover: var(--base-color-blue-500);
  --color-info-pressed: var(--base-color-blue-600);
  --color-info-focus: var(--base-color-blue-500);
  --color-info-fill: var(--base-color-gray-900);
  --color-info-reverse: var(--base-color-mono-white);
  --color-link: var(--base-color-sky-600);
  --color-link-hover: var(--base-color-sky-500);
  --color-link-pressed: var(--base-color-sky-600);
  --color-link-focus: var(--base-color-sky-500);
  --color-link-fill: var(--base-color-gray-900);
  --color-link-reverse: var(--base-color-mono-white);
  --color-success: var(--base-color-teal-600);
  --color-success-hover: var(--base-color-teal-500);
  --color-success-pressed: var(--base-color-teal-600);
  --color-success-focus: var(--base-color-teal-500);
  --color-success-fill: var(--base-color-gray-900);
  --color-success-reverse: var(--base-color-mono-white);
  --color-warning: var(--base-color-amber-600);
  --color-warning-hover: var(--base-color-amber-500);
  --color-warning-pressed: var(--base-color-amber-600);
  --color-warning-focus: var(--base-color-amber-500);
  --color-warning-fill: var(--base-color-gray-900);
  --color-warning-reverse: var(--base-color-mono-white);
  --color-danger: var(--base-color-red-500);
  --color-danger-hover: var(--base-color-red-400);
  --color-danger-pressed: var(--base-color-red-500);
  --color-danger-focus: var(--base-color-red-400);
  --color-danger-fill: var(--base-color-gray-900);
  --color-danger-reverse: var(--base-color-mono-white);
  --color-bg-modal: var(--base-color-gray-800);
  --color-bg-disabled: var(--base-color-gray-800);
  --color-bg-toggle: var(--base-color-gray-600);
  --color-bg-reverse-wb: var(--base-color-mono-black);
  --color-bg-reverse-bw: var(--base-color-mono-white);
  --color-bg-indicator: var(--base-color-white-alpha-400);
  --color-bg-block: var(--base-color-black-alpha-100);
  --color-bg-elevation: var(--base-color-gray-950);
  --color-bg-elevation-2: var(--base-color-gray-940);
  --color-bg-elevation-3: var(--base-color-gray-750);
  --color-bg-elevation-4: var(--base-color-gray-650);
  --color-border: var(--base-color-gray-600);
  --color-border-hover: var(--base-color-gray-500);
  --color-border-pressed: var(--base-color-gray-600);
  --color-border-focus: var(--base-color-gray-500);
  --color-border-disabled: var(--base-color-white-alpha-100);
  --color-border-alpha: var(--base-color-white-alpha-200);
  --color-text-header: var(--base-color-gray-100);
  --color-text-body: var(--base-color-gray-200);
  --color-text-sub: var(--base-color-gray-400);
  --color-text-disabled: var(--base-color-gray-600);
  --color-text: var(--base-color-gray-300);
  --color-text-hover: var(--base-color-gray-100);
  --color-text-pressed: var(--base-color-gray-300);
  --color-text-focus: var(--base-color-gray-100);
  --color-text-reverse: var(--base-color-mono-white);
}
