@use './base-color' as *;

/*
  Light mode colors
*/
:root {
  --color-primary: #{map-get($base-color, 'violet-500')};
  --color-primary-hover: #{map-get($base-color, 'violet-600')};
  --color-primary-pressed: #{map-get($base-color, 'violet-700')};
  --color-primary-focus: #{map-get($base-color, 'violet-600')};
  --color-primary-fill: #{map-get($base-color, 'violet-50')};
  --color-primary-reverse: #{map-get($base-color, 'mono-white')};
  --color-default: #{map-get($base-color, 'gray-100')};
  --color-default-hover: #{map-get($base-color, 'gray-150')};
  --color-default-pressed: #{map-get($base-color, 'gray-250')};
  --color-default-focus: #{map-get($base-color, 'gray-150')};
  --color-default-fill: #{map-get($base-color, 'gray-50')};
  --color-default-reverse: #{map-get($base-color, 'gray-800')};
  --color-default-deep: #{map-get($base-color, 'gray-600')};
  --color-default-deep-hover: #{map-get($base-color, 'gray-700')};
  --color-default-deep-pressed: #{map-get($base-color, 'gray-800')};
  --color-default-deep-focus: #{map-get($base-color, 'gray-700')};
  --color-default-deep-fill: #{map-get($base-color, 'gray-50')};
  --color-default-deep-reverse: #{map-get($base-color, 'mono-white')};
  --color-info: #{map-get($base-color, 'blue-500')};
  --color-info-hover: #{map-get($base-color, 'blue-600')};
  --color-info-pressed: #{map-get($base-color, 'blue-700')};
  --color-info-focus: #{map-get($base-color, 'blue-600')};
  --color-info-fill: #{map-get($base-color, 'blue-50')};
  --color-info-reverse: #{map-get($base-color, 'mono-white')};
  --color-link: #{map-get($base-color, 'sky-500')};
  --color-link-hover: #{map-get($base-color, 'sky-600')};
  --color-link-pressed: #{map-get($base-color, 'sky-700')};
  --color-link-focus: #{map-get($base-color, 'sky-600')};
  --color-link-fill: #{map-get($base-color, 'sky-50')};
  --color-link-reverse: #{map-get($base-color, 'mono-white')};
  --color-success: #{map-get($base-color, 'teal-600')};
  --color-success-hover: #{map-get($base-color, 'teal-700')};
  --color-success-pressed: #{map-get($base-color, 'teal-800')};
  --color-success-focus: #{map-get($base-color, 'teal-700')};
  --color-success-fill: #{map-get($base-color, 'teal-50')};
  --color-success-reverse: #{map-get($base-color, 'mono-white')};
  --color-warning: #{map-get($base-color, 'amber-500')};
  --color-warning-hover: #{map-get($base-color, 'amber-600')};
  --color-warning-pressed: #{map-get($base-color, 'amber-700')};
  --color-warning-focus: #{map-get($base-color, 'amber-600')};
  --color-warning-fill: #{map-get($base-color, 'amber-50')};
  --color-warning-reverse: #{map-get($base-color, 'mono-white')};
  --color-danger: #{map-get($base-color, 'red-500')};
  --color-danger-hover: #{map-get($base-color, 'red-600')};
  --color-danger-pressed: #{map-get($base-color, 'red-700')};
  --color-danger-focus: #{map-get($base-color, 'red-600')};
  --color-danger-fill: #{map-get($base-color, 'red-50')};
  --color-danger-reverse: #{map-get($base-color, 'mono-white')};
  --color-bg-modal: #{map-get($base-color, 'mono-white')};
  --color-bg-disabled: #{map-get($base-color, 'gray-200')};
  --color-bg-toggle: #{map-get($base-color, 'gray-300')};
  --color-bg-reverse-wb: #{map-get($base-color, 'mono-white')};
  --color-bg-reverse-bw: #{map-get($base-color, 'mono-black')};
  --color-bg-indicator: #{map-get($base-color, 'black-alpha-100')};
  --color-bg-block: #{map-get($base-color, 'mono-white')};
  --color-bg-elevation: #{map-get($base-color, 'gray-50')};
  --color-bg-elevation-2: #{map-get($base-color, 'mono-white')};
  --color-bg-elevation-3: #{map-get($base-color, 'mono-white')};
  --color-bg-elevation-4: #{map-get($base-color, 'mono-white')};
  --color-border: #{map-get($base-color, 'gray-200')};
  --color-border-hover: #{map-get($base-color, 'gray-300')};
  --color-border-pressed: #{map-get($base-color, 'gray-400')};
  --color-border-focus: #{map-get($base-color, 'gray-300')};
  --color-border-disabled: #{map-get($base-color, 'black-alpha-100')};
  --color-border-alpha: #{map-get($base-color, 'black-alpha-200')};
  --color-text-header: #{map-get($base-color, 'gray-900')};
  --color-text-body: #{map-get($base-color, 'gray-800')};
  --color-text-sub: #{map-get($base-color, 'gray-500')};
  --color-text-action: #{map-get($base-color, 'gray-500')};
  --color-text-action-hover: #{map-get($base-color, 'gray-600')};
  --color-text-action-pressed: #{map-get($base-color, 'gray-700')};
  --color-text-action-focus: #{map-get($base-color, 'gray-600')};
  --color-text-action-reverse: #{map-get($base-color, 'mono-white')};
  --color-text-action-disabled: #{map-get($base-color, 'gray-400')};
}

html[data-color-mode='dark'] {
  /*
    Dark mode colors
  */
  --color-primary: #{map-get($base-color, 'violet-500')};
  --color-primary-hover: #{map-get($base-color, 'violet-400')};
  --color-primary-pressed: #{map-get($base-color, 'violet-500')};
  --color-primary-focus: #{map-get($base-color, 'violet-400')};
  --color-primary-fill: #{map-get($base-color, 'gray-900')};
  --color-primary-reverse: #{map-get($base-color, 'mono-white')};
  --color-default: #{map-get($base-color, 'gray-700')};
  --color-default-hover: #{map-get($base-color, 'gray-600')};
  --color-default-pressed: #{map-get($base-color, 'gray-700')};
  --color-default-focus: #{map-get($base-color, 'gray-600')};
  --color-default-fill: #{map-get($base-color, 'gray-800')};
  --color-default-reverse: #{map-get($base-color, 'mono-white')};
  --color-default-deep: #{map-get($base-color, 'gray-700')};
  --color-default-deep-hover: #{map-get($base-color, 'gray-600')};
  --color-default-deep-pressed: #{map-get($base-color, 'gray-700')};
  --color-default-deep-focus: #{map-get($base-color, 'gray-600')};
  --color-default-deep-fill: #{map-get($base-color, 'gray-900')};
  --color-default-deep-reverse: #{map-get($base-color, 'mono-white')};
  --color-info: #{map-get($base-color, 'blue-600')};
  --color-info-hover: #{map-get($base-color, 'blue-500')};
  --color-info-pressed: #{map-get($base-color, 'blue-600')};
  --color-info-focus: #{map-get($base-color, 'blue-500')};
  --color-info-fill: #{map-get($base-color, 'gray-900')};
  --color-info-reverse: #{map-get($base-color, 'mono-white')};
  --color-link: #{map-get($base-color, 'sky-600')};
  --color-link-hover: #{map-get($base-color, 'sky-500')};
  --color-link-pressed: #{map-get($base-color, 'sky-600')};
  --color-link-focus: #{map-get($base-color, 'sky-500')};
  --color-link-fill: #{map-get($base-color, 'gray-900')};
  --color-link-reverse: #{map-get($base-color, 'mono-white')};
  --color-success: #{map-get($base-color, 'teal-600')};
  --color-success-hover: #{map-get($base-color, 'teal-500')};
  --color-success-pressed: #{map-get($base-color, 'teal-600')};
  --color-success-focus: #{map-get($base-color, 'teal-500')};
  --color-success-fill: #{map-get($base-color, 'gray-900')};
  --color-success-reverse: #{map-get($base-color, 'mono-white')};
  --color-warning: #{map-get($base-color, 'amber-600')};
  --color-warning-hover: #{map-get($base-color, 'amber-500')};
  --color-warning-pressed: #{map-get($base-color, 'amber-600')};
  --color-warning-focus: #{map-get($base-color, 'amber-500')};
  --color-warning-fill: #{map-get($base-color, 'gray-900')};
  --color-warning-reverse: #{map-get($base-color, 'mono-white')};
  --color-danger: #{map-get($base-color, 'red-500')};
  --color-danger-hover: #{map-get($base-color, 'red-400')};
  --color-danger-pressed: #{map-get($base-color, 'red-500')};
  --color-danger-focus: #{map-get($base-color, 'red-400')};
  --color-danger-fill: #{map-get($base-color, 'gray-900')};
  --color-danger-reverse: #{map-get($base-color, 'mono-white')};
  --color-bg-modal: #{map-get($base-color, 'gray-800')};
  --color-bg-disabled: #{map-get($base-color, 'gray-800')};
  --color-bg-toggle: #{map-get($base-color, 'gray-600')};
  --color-bg-reverse-wb: #{map-get($base-color, 'mono-black')};
  --color-bg-reverse-bw: #{map-get($base-color, 'mono-white')};
  --color-bg-indicator: #{map-get($base-color, 'white-alpha-400')};
  --color-bg-block: #{map-get($base-color, 'black-alpha-100')};
  --color-bg-elevation: #{map-get($base-color, 'gray-950')};
  --color-bg-elevation-2: #{map-get($base-color, 'gray-940')};
  --color-bg-elevation-3: #{map-get($base-color, 'gray-750')};
  --color-bg-elevation-4: #{map-get($base-color, 'gray-650')};
  --color-border: #{map-get($base-color, 'gray-600')};
  --color-border-hover: #{map-get($base-color, 'gray-500')};
  --color-border-pressed: #{map-get($base-color, 'gray-600')};
  --color-border-focus: #{map-get($base-color, 'gray-500')};
  --color-border-disabled: #{map-get($base-color, 'white-alpha-100')};
  --color-border-alpha: #{map-get($base-color, 'white-alpha-200')};
  --color-text-header: #{map-get($base-color, 'gray-100')};
  --color-text-body: #{map-get($base-color, 'gray-200')};
  --color-text-sub: #{map-get($base-color, 'gray-400')};
  --color-text-disabled: #{map-get($base-color, 'gray-600')};
  --color-text: #{map-get($base-color, 'gray-300')};
  --color-text-hover: #{map-get($base-color, 'gray-100')};
  --color-text-pressed: #{map-get($base-color, 'gray-300')};
  --color-text-focus: #{map-get($base-color, 'gray-100')};
  --color-text-reverse: #{map-get($base-color, 'mono-white')};
}

@function color($key) {
  @return var(--color-#{$key});
}
