@use '../../mixin.scss' as *;
.style {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: s(3);
  &:global {
    > div.child {
      width: 100%;
      > :not(:last-child) {
        display: inline-block;
        margin-right: s(5);
      }
    }
    > div.helper {
      @include p4;
      & {
        color: color('text-sub');
      }
    }
  }
}
