@use '../../mixin' as *;
.app {
  width: 100%;
  min-height: 100%;
  @extend .bg-elevation;
  > header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: color('primary');
    color: color('primary-reverse');
    padding: s(1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: s(4);
    nav {
      display: flex;
      gap: s(4);
      a {
        color: color('primary-reverse');
        text-decoration: none;
        &:hover {
          color: color('primary-hover');
        }
      }
    }
  }
  > main {
    padding: s(3);
    padding-top: s(7);
    margin-bottom: s(2);
    @extend .bg-elevation-1;
    > article {
      padding: s(3);
      margin-bottom: s(2);
      @extend .bg-elevation-2;
      > section {
        padding: s(3);
        margin-bottom: s(2);
        @extend .bg-elevation-3;
        > div {
          margin-bottom: s(2);
        }
      }
    }
  }

  &:global {
    > * {
      .grid.guide {
        * {
          padding: s(4);
        }
        &.fill {
          background: color('primary-fill');
        }
        &.border * {
          border: 1px solid color('primary');
        }
      }
      .elements {
        > :not(:last-child) {
          margin-right: s(4);
        }
      }
    }
  }
}
