/*
  Spacing
*/
$spacing: (
  0: 0,
  1: 2px,
  2: 4px,
  3: 8px,
  4: 12px,
  5: 16px,
  6: 24px,
  7: 32px,
  8: 40px,
  9: 48px,
  10: 64px,
  11: 80px,
  12: 96px,
  13: 160px,
);

@function s($key) {
  @return map-get($spacing, $key);
}

@each $key, $value in $spacing {
  .p-#{$key} {
    padding: $value;
  }
  .p-t-#{$key} {
    padding-top: $value;
  }
  .p-r-#{$key} {
    padding-right: $value;
  }
  .p-b-#{$key} {
    padding-bottom: $value;
  }
  .p-l-#{$key} {
    padding-left: $value;
  }
  .m-#{$key} {
    margin: $value;
  }
  .m-t-#{$key} {
    margin-top: $value;
  }
  .m-r-#{$key} {
    margin-right: $value;
  }
  .m-b-#{$key} {
    margin-bottom: $value;
  }
  .m-l-#{$key} {
    margin-left: $value;
  }
}
