:root {
  /*
  Brand base color
  */
  --brand-10: #FFF;
  --brand-50: #F5F3FF;
  --brand-100: #EDE9FE;
  --brand-200: #DDD6FE;
  --brand-300: #C4B5FD;
  --brand-400: #9E73FE;
  --brand-500: #8B5CF6;
  --brand-600: #7C3AED;
  --brand-700: #6D28D9;
  --brand-800: #5B21B6;
  --brand-900: #4C1D95;
  --brand-950: #2E1065;

  /*
  Brand primary color
  */
  --brand-primary: var(--violet-500);
  --brand-primary-hover: var(--violet-600);
  --brand-primary-pressed: var(--violet-700);
  --brand-primary-focus: var(--violet-600);
  --brand-primary-spot: var(--violet-50);
  --brand-primary-dark: var(--violet-500);
  --brand-primary-dark-hover: var(--violet-400);
  --brand-primary-dark-pressed: var(--violet-500);
  --brand-primary-dark-focus: var(--violet-400);
  --brand-primary-dark-spot: var(--gray-900);
  --brand-primary-reverse: var(--mono-white);

  /*
  Brand font family
  */
  --brand-font-family: 'Pretendard', sans-serif;
}