$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-36: 36px;
$font-size-42: 42px;
$font-size-48: 48px;
$font-size-54: 54px;
$font-size-60: 60px;
$font-size-68: 68px;
$font-size-76: 76px;
$font-size-84: 84px;
$font-size-92: 92px;
$font-size-96: 96px;
$font-size-98: 98px;
$font-size-100: 100px;
$font-size-120: 120px;

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
