@use './font-size.scss' as *;
@use '../device/reponsive.scss' as *;

/*
  Typo Size Responsive
*/
$h1-size: var($font-size-60);
$h2-size: var($font-size-42);
$h3-size: var($font-size-36);
$s1-size: var($font-size-42);
$s2-size: var($font-size-36);
$s3-size: var($font-size-24);
$s4-size: var($font-size-20);
$p1-size: var($font-size-24);
$p2-size: var($font-size-20);
$p3-size: var($font-size-16);
$p4-size: var($font-size-14);
$p5-size: var($font-size-12);

@include mo {
  $h1-size: var($font-size-32);
  $h2-size: var($font-size-28);
  $h3-size: var($font-size-24);
  $s1-size: var($font-size-20);
  $s2-size: var($font-size-16);
  $s3-size: var($font-size-20);
  $s4-size: var($font-size-16);
  $p1-size: var($font-size-20);
  $p2-size: var($font-size-16);
  $p3-size: var($font-size-14);
  $p4-size: var($font-size-12);
  $p5-size: var($font-size-12);
}
