@use '../../mixin.scss' as *;
.style {
  display: flex;
  flex-direction: column;
  gap: s(3);
  &:global {
    > input {
      width: 300px;
    }
    > div.validator {
      @include p4;
      & {
        color: color('text-sub');
      }
    }
    > div{
      position: relative;
      width: fit-content;
      > span.unit {
        position: absolute;
        right: s(3);
        top: 50%;
        transform: translateY(-50%);
        color: color('text-sub');
        pointer-events: none;
      }
      > input {
        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox  */
        &[type='number'] {
          -moz-appearance: textfield;
        }
      }
    }
  }
}
