@use '../../mixin.scss' as *;
.style {
  display: flex;
  flex-direction: column;
  gap: s(3);
  &:global {
    > textarea {
      width: 100%;
    }
    > div.validator {
      @include p4;
      & {
        color: color('text-sub');
      }
    }
  }
}
