@use '../layout/spacing' as *;
@use '../layout/radius' as *;
@use '../typo/mixin' as *;

button {
  @include p3;
  & {
    display: inline-flex;
    gap: spacing(2);
    border-radius: r(3);
    padding: spacing(3) spacing(5);
    &.xs {
      @include p4;
      & {
        border-radius: r(2);
        padding: spacing(2) spacing(3);
        > i::before {
          font-size: 20px;
        }
      }
    }
    &.md {
      @include p2;
      & {
        border-radius: r(5);
        padding: spacing(4) spacing(6);
      }
    }
    &.lg {
      @include p1;
      & {
        border-radius: r(6);
        padding: spacing(5) spacing(6);
      }
    }
  }
}
